asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
crispy-bootstrap4==2022.1
cryptography==41.0.4
defusedxml==0.7.1
Django==3.2.22
django-crispy-forms==2.0
django-environ==0.11.2
django-macaddress==1.8.0
django-rest-auth==0.9.5
django-saml2-auth==2.2.1
django-sass-processor==1.2.2
django-xff==1.4.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
elementpath==4.1.5
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
netaddr==0.9.0
pycparser==2.21
PyJWT==1.7.1
pyOpenSSL==23.2.0
pysaml2==7.3.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
timeago==1.0.16
typing_extensions==4.7.1
urllib3==2.0.7
xmlschema==2.5.0
zipp==3.15.0
